// Montserrat

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat/Regular/font.eot');
    src:
        url('../fonts/Montserrat/Regular/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Regular/font.svg#IBMPlexSans-Thin') format('svg'),
        url('../fonts/Montserrat/Regular/font.ttf') format('truetype'),
        url('../fonts/Montserrat/Regular/font.woff') format('woff'),
        url('../fonts/Montserrat/Regular/font.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat/Medium/font.eot');
    src:
        url('../fonts/Montserrat/Medium/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Medium/font.svg#IBMPlexSans-Thin') format('svg'),
        url('../fonts/Montserrat/Medium/font.ttf') format('truetype'),
        url('../fonts/Montserrat/Medium/font.woff') format('woff'),
        url('../fonts/Montserrat/Medium/font.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

// IBM Plex Sans

@font-face {
    font-family: 'IBMPlexSans';
    src:
        url('../fonts/IBMPlexSans/Medium/font.eot');
    src:
        url('../fonts/IBMPlexSans/Medium/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans/Medium/font.svg#IBMPlexSans-Thin') format('svg'),
        url('../fonts/IBMPlexSans/Medium/font.ttf') format('truetype'),
        url('../fonts/IBMPlexSans/Medium/font.woff') format('woff'),
        url('../fonts/IBMPlexSans/Medium/font.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
