@import '../css/normalize.css';
@import 'utils/fonts';

html {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}

body {
    background: #262626 url(../images/photo.png) no-repeat left bottom;
    font: 500 14px Montserrat;
    color: #fff;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.wrap {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #17161C;
    max-width: 800px;
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::after {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: rgba(70, 70, 70, 0.2);
        }

        &::before {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: url(../images/bg.jpg) no-repeat top left;
            background-size: cover;
            animation: zoom 70s ease-in-out infinite;
        }
    }
}

.content {
    position: inherit;
    padding: 100px 90px;
    z-index: 1;

    .logo {
        position: relative;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #65DEDE;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
        animation: pulse 2s infinite;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.05);

        svg {
            position: relative;
            left: 1px;
            width: 71px;
            height: 81px;

            path {
                stroke: #029E9E;
                stroke-width: 1.5px;
            }
        }
    }

    .title {
        font: normal normal 36px/100% IBMPlexSans;

        &.small {
            font-size: 24px;
        }
    }

    .text {
        line-height: 180%;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 38px;
        font-weight: normal;
    }

    .line {
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 1px;
        margin: 42px 0 46px 0;
    }
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    > .more {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 28px;
        height: 24px;
        cursor: pointer;
        transition: background .2s;

        &:hover {
            .navs {
                top: 100%;
                visibility: visible;
                opacity: 1;
            }
        }

        .navs {
            right: 0;
        }

        svg {
            position: relative;
            top: -3px;
        }
    }
}

.links {
    display: flex;
    align-items: flex-end;
    margin-top: 25px;

    > div {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #525252;
        width: 33.3333%;
        height: 66px;
        margin-right: 2px;
        color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        user-select: none;
        transition: height .2s;

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #5C5C5C;
            color: #fff;

            .navs {
                visibility: visible;
                bottom: 100%;
                background: #262626;
                width: 100%;
                opacity: 1;
                margin-bottom: 2px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: transparent;
                    width: 100%;
                    height: 2px;
                }
            }
        }

        span {
            position: relative;
            top: 11px;
            left: 14px;
        }

        &.disabled {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #3b3b3b;
            cursor: not-allowed;
            color: rgba(255, 255, 255, 0.6);

            &:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        &.main {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
            color: #484848;

            &:hover {
                background: #6AE8E8;
            }
        }

        &:last-child {
            margin: 0;
        }
    }
}

.navs {
    position: absolute;
    width: 100px;
    background: #262626;
    padding: 3px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;

    > a {
        display: block;
        position: relative;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);
        padding: 0 13px;
        cursor: pointer;
        user-select: none;

        &:hover,
        &.is-activated {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
            color: #484848;
        }

        &.is-activated {
            &:hover {
                background: #6AE8E8;
            }

            a {
                display: none;
            }
        }

        &.is-activated a {
            display: none;
        }
    }
}

input[type=text], input[type=submit], textarea {
    -webkit-appearance: none;
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 44, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 44, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 44, 0);
    }
}

@media screen and (max-width: 800px) {
    .wrap::after {
        display: none !important;
    }

    .content {
        padding: 80px 60px;
    }
}

@media screen and (max-width: 572px) {
    .content {
        padding: 70px 50px;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: unset;

        > div {
            width: 100%;
            margin: 0 0 2px 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 94px !important;
        height: 94px !important;

        svg {
            width: 61px !important;
            height: 71px !important;
        }
    }

    .content {
        padding: 22px;
    }
}
